<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <a href="https://blog.formpl.us/">Blog</a>
        <a href="http://support.formpl.us/">Resources</a>
        <a href="http://support.formpl.us/customer/en/portal/topics/1084808-faqs/articles">FAQ</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="/showcase">Showcase</a>
        <a href="/pricing">Pricing</a>
        <a href="http://support.formpl.us/">Support</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="/terms_and_privacy#privacy">Privacy Policy</a>
        <a href="/terms_and_privacy">Terms &amp; Conditions</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="https://www.facebook.com/formplusapp" class="social" target="_blank">
          <svg class="icon icon-cloud"><use xlink:href="#icon-social-facebook"></use></svg><span class="name"></span>
        </a>
        <a href="https://twitter.com/formplusapp" class="social" target="_blank">
          <svg class="icon icon-twitter-with-circle"><use xlink:href="#icon-twitter"></use></svg><span class="name"></span>
        </a>
        <a href="https://www.instagram.com/formplusapp/" class="social" target="_blank">
          <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg><span class="name"></span>
        </a>
        <a href="https://plus.google.com/112476820654125256979" class="social" target="_blank">
          <svg class="icon icon-google"><use xlink:href="#icon-google"></use></svg><span class="name"></span>
        </a>
      </div>

      <div class="col-xs-12 text-center copyright">
        <span>ALL RIGHTS RESERVED &copy; FORMPLUS 2017</span>
      </div>

    </div>
  </div>
</footer>
